body{
    background-position: center;
    background-size: cover;
}

canvas{
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    margin-top: 50px;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status{
    font-size: 18px;
}

#start, #number_of_objects, #start{
    font-size: 18px;
}

.copy_right_footer{
    position: fixed;
    color: #f5f5f5;
    bottom: 0;
    width: 100%;
    background-color: #6c757d;
    line-height: 2;
    text-align: center;
}